/************************
 Woocommerce Style Overrides
************************/

.page-template-template-shop {
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        width: 100%;
    }
}

/************************
 Styles for Layout
************************/

.page-template-template-shop {
    background-image: url("../img/cart-bg.jpg");
    .page-banner {
        background: #AF0000;
    }
    .no-padding {
        padding: 0;
    }
    //Shop Intro Section
    .shop-intro {
        margin-bottom: 4em;
        overflow: auto;
        h3 {
            color: #AF0000;
        }
    }
    .image-text-wrapper-sushi {
        position: relative;
        overflow: hidden;
        padding: 8em 0;
        background: linear-gradient(to bottom, rgba(0,0,0,0.80) 0%,rgba(0,0,0,0) 100%);
        .woocommerce-product-gallery.images.woocommerce-product-gallery--with-images {
            position: absolute;
            float: none;
            width: 100%;
            top: 0;
            z-index: -1;
        }
    }
    .col {
        padding: 0;
    }
    .woocommerce-error {
        display: none;
    }
    .sushi-party-size {
        display: flex;
        flex-wrap: nowrap;
        padding: 0 0.5em;
        align-items: baseline;
        margin: 0 0 2em;
        span {
            font-size: 15px;
            font-weight: bold;
            line-height: 2.8;
            letter-spacing: 1px;
            text-align: left;
            color: #af0000;
        }
        input {
            margin: 0;
        }
        .wc_bookings_field_persons {
            margin-left: 20px;
        }
   }
    .products {
        display: flex;
        margin-bottom: 0;
        #sushi-bookable-item {
            .sushi-bookable-item-wrapper {
                box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.36);
                height: 100%;
            }
            .wc-bookings-date-picker {
                border: 0;
            }
            .force-select-all {
                -webkit-user-select: all;
                -moz-user-select: all;
                -ms-user-select: all;
                user-select: all;
              }
            .wc-bookings-date-picker {
                position: relative;
                margin-bottom: 0;
            }
            .woocommerce-LoopProduct-link.woocommerce-loop-product__link {
                pointer-events: none;
                cursor: default;
            }
            .woocommerce, .single-product, .product {
                height: 100%;
            }
            .product {
                z-index: 1;
                background-color: #fff;
                display: flex;
                flex-direction: column;
            }
            legend {
                span {
                    display: none;
                }
            }
            .fully_booked.ui-datepicker-unselectable.ui-state-disabled {
                pointer-events: none;
            }
            .partial_booked {
                pointer-events: none;
                cursor: none;
            }
            .wc-bookings-date-picker-choose-date {
                color: #fff;
                background: #000;
                text-decoration: none;
                padding: 0.5em 2em;
                display: inline;
                font-size: 24px;
                .far {
                    position: absolute;
                    left: 20px;
                    top: 8px;
                }
            }
            .wc-bookings-date-picker-date-fields{
                display: none;
            }
            .single-product .woocommerce-message, .single-product .woocommerce-info {
                display: none;
            }
            .summary {
                float: none;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 0;
            }
            .block-picker {
                display: block;
            }
            .wc-bookings-booking-form-button {
                display: none !important;
            }
            .wc-bookings-booking-form {
                border: 0 none;
                background-color: #fff;
                margin: 0;
                padding: 0;
                .form-field.form-field-wide {
                    margin-bottom: 0;
                }
            }
            .wc-bookings-booking-form .form-field input[type=number] {
                width: 100%;
            }
            form.cart {
                margin-bottom: 0;
            }
            .woocommerce-product-details__short-description, .product_meta, .price  {
                display: none;
            }
            .content-bookable-item {
                margin-bottom: auto;
                flex-grow: 1;

            }
            flex: 1;
            text-align: center;
            margin: 0 1em;
            display: flex;
            flex-direction: column;
            li {
                margin: 0;
                height: 100%;
                display: flex;
                flex-direction: column;
                a {
                    height: 100%;
                    color: #000;
                    text-decoration: none;
                }
                span.price {
                    display: none;
                }
            }
            .add_to_cart_button {
                display: none;
            }
            .product-var-bookable {
                position: relative;
                background: red;
                color: #fff;
                padding: 1em;
                margin-top: 1em;
                &:hover {
                    background-color: #000;
                }
            }
        }
        .wc-bookings-booking-form .wc-bookings-booking-cost {
            margin: 0;
        }
        
    }
    .tooltip-container {
        position: absolute;
        bottom: 0;
        height: 4em;
        width: 100%;
        left: 0;
        z-index: 99;
    }
    .tooltip.fade {
        position: absolute;
        //bottom: 0;
        color: #000;
        background-color: #a4a4a4;
        border-radius: 5px;
        padding: 0.5em 2em;
    }
    .next-step {
        display: block;
        max-width: 100%;
        text-align: center;
        background-color: red;
        color: #fff;
        padding: .5em;
        margin: 0 1em;
        border-radius: 8px;
    }

/************************
 Styles for Packages
************************/

    #sushi-bookable-item {
        transition: all ease 0.3s;
        position: relative;
        top: 0;
        &:hover {
           top: -10px;
        }
        .product_title.entry-title {
            font-size: 28px;
            line-height: 1;
            background: #AF0000;
            margin-bottom: 0;
            color: #fff;
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 0.5em 25px;
            .product-title {
                float: left;
                font-size: 30px;
                display: inline-block;
                font-weight: 600;
            }
            .price-bookable-item {
                float: right;
                font-size: 24px;
                display: inline-block;
                line-height: 1.25;
            }
        } 
        .sub-title-bookable-item {
            position: absolute;
            top: 0;
            text-transform: uppercase;
            background: rgba(175, 0, 0, 0.9);
            width: 7em;
            padding: 0.25em 0;
            font-size: 24px;
            color: #fff;
            left: 50%;
            margin-left: -3.5em;
            font-weight: 600;
        }
        .content-bookable-item {
            padding: 1em 3em;
            text-align: left;
            background-color: #fff;
            p {
                font-size: 15px;
                margin: 0;
                text-transform: capitalize;
                &:not(:first-child) strong {
                    padding-top: 2em;
                }
            }
        }
    }

/****************************
 Styles for ADD On Products
****************************/

    #sushi-bookable-item.product.product_cat-addon {
        img {
            display: block;
        }
        .sub-title-bookable-item {
            display: none;
        }
        .content-bookable-item {
            display: none;
        }
        .add_to_cart_button {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: 0;
            opacity: 0;
            line-height: 0;
            font-size: 0;
            background-color: green;
            transition: all ease 0.3s;
            &.active {
                opacity: 0.6;
            }
        }
        .added_to_cart.wc-forward {
            display: none;
        }
        .sushi-party-size {
            display: none;
        }
        .product-var-bookable {
            display: none;
        }
    }
    .cart-ajax-wrapper {
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.36);
        width: 100%;
        h2 {
            font-size: 24px;
            color: #fff;
            background: #AF0000;
            text-align: center;
            padding: 0.5em 0;
            margin: 0;
        }
        h3 {
            margin: 0 0 15px 0;
            padding: 0 0 6px;
            text-transform: none;
            border-bottom: 1px #000 solid;
        }
        .inner-cart {
            padding: 1em 1em;
            background: #fff;
            .package-price {
                float: right;
            }
            .product-booking {
                display: none;
            }
            h3:not(:first-child) {
                padding-top: 2em;
            }
        }
        .sushi-party-size {
            border-bottom: solid 2px #000;
            padding: 0.5em 1em;
            margin: 0;
            background: #fff;
        }
        .cart-subtotal {
            padding: 0.5em 0.75em;
            margin: 0;
            background: #fff;
        }
    }
/****************************
    Section specific styles
****************************/
    .section-addons {
        display: flex;
        .woocommerce .woocommerce {
            display: none;
        }
        .col-flex {
            display: flex;
            .cart-ajax-wrapper {
                display: flex;
                flex-direction: column;
                .inner-cart {
                    flex-grow: 1;
                }
            }
        }
        .cart-ajax-wrapper .sushi-party-size {
            input {
                pointer-events: none;
                cursor: default;
            }
        }
        .change-party-number {
            color: #fff;
            background: #000;
            padding: 0 0.5em;
            margin-left: 0.5em;
            cursor: pointer;
        }
    }
    .section-package-details {
        .col.col-lg-9 {
            display: flex;
            flex-direction: column;
            .summary {
                .product_title, .price, .woocommerce-product-details__short-description {
                    display: none;
                }
            }
        }
        display: flex;
    }
    .section-payment {
        .woocommerce-message {
            display: none;
        }
    }
}
