/************************
 Woocommerce Style Overrides
************************/

.page-template-template-shop {
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        width: 100%;
    }
}

/************************
 Styles for Layout
************************/

.page-template-template-shop {
    .col {
        padding: 0;
    }
    .woocommerce-error {
        display: none;
    }
    .sushi-party-size {
        display: flex;
        flex-wrap: nowrap;
        padding: 0 0.5em;
        align-items: baseline;
        margin: 1em 0 0;
        span {
            flex: 1 1 45%;
            font-size: 20px;
        }
        input {
            margin: 0;
        }
   }
    .products {
        display: flex;
        margin-bottom: 0;
        #sushi-bookable-item {
            .sushi-bookable-item-wrapper {
                border: solid 2px #000;
                height: 100%;
            }
            .wc-bookings-date-picker {
                border: 0;
            }
            .force-select-all {
                -webkit-user-select: all;
                -moz-user-select: all;
                -ms-user-select: all;
                user-select: all;
              }
            .wc-bookings-date-picker {
                position: relative;
            }
            .woocommerce-LoopProduct-link.woocommerce-loop-product__link {
                pointer-events: none;
                cursor: default;
            }
            .woocommerce, .single-product, .product {
                height: 100%;
            }
            legend {
                span {
                    display: none;
                }
            }
            .wc-bookings-date-picker-choose-date {
                color: #fff;
                background: #000;
                text-decoration: none;
                padding: 0.15em 2em;
                display: inline;
                position: absolute;
                right: 0;
                top: -55px;
            }
            .wc-bookings-date-picker-date-fields{
                //display: none;
            }
            .single-product .woocommerce-message, .single-product .woocommerce-info {
                display: none;
            }
            .summary {
                float: none;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 0;
            }
            .block-picker {
                display: block;
            }
            .wc-bookings-booking-form-button {
                display: none !important;
            }
            .wc-bookings-booking-form {
                border: 0 none;
            }
            .price-bookable-item {
                border-top: solid 2px #000;
                border-bottom: solid 2px #000;
                margin-bottom: 0;
                padding: 0.5em 0;
            }
            .wc-bookings-booking-form .form-field input[type=number] {
                width: 100%;
            }
            .form-field.form-field-wide.wc_bookings_field_persons {
                width: 100%;
            }
            form.cart {
                margin-bottom: 0;
            }
            .woocommerce-product-details__short-description, .product_meta, .price  {
                display: none;
            }
            .content-bookable-item {
                margin-bottom: auto;
                flex-grow: 1;

            }
            flex: 1;
            text-align: center;
            margin: 0 1em;
            display: flex;
            flex-direction: column;
            li {
                margin: 0;
                height: 100%;
                display: flex;
                flex-direction: column;
                a {
                    height: 100%;
                    color: #000;
                    text-decoration: none;
                }
                span.price {
                    display: none;
                }
            }
            img {
                display: none;
            }
            .add_to_cart_button {
                display: none;
            }
            .product-var-bookable {
                position: relative;
                background: red;
                color: #fff;
                padding: 1em;
                margin-top: 1em;
                &:hover {
                    background-color: #000;
                }
            }
        }
        .wc-bookings-booking-form .wc-bookings-booking-cost {
            margin: 0;
        }
        
    }
    .tooltip-container {
        position: absolute;
        bottom: 0;
        height: 4em;
        width: 100%;
        left: 0;
        z-index: 99;
    }
    .tooltip.fade {
        position: absolute;
        //bottom: 0;
        color: #000;
        background-color: #a4a4a4;
        border-radius: 5px;
        padding: 0.5em 2em;
    }
    .next-step {
        display: block;
        max-width: 100%;
        text-align: center;
        background-color: red;
        color: #fff;
        padding: .5em;
        margin: 0 1em;
        border-radius: 8px;
    }

/************************
 Styles for Packages
************************/

    #sushi-bookable-item {
        transition: all ease 0.3s;
        position: relative;
        top: 0;
        &:hover {
           top: -10px;
        }
        h2 {
            font-size: 28px;
            padding: 0.2em 0;
            line-height: 1;
            margin-bottom: 1px;
        } 
        .sub-title-bookable-item {
            border-bottom: solid 2px #000;
            padding-bottom: 0.2em;
        }
        .content-bookable-item {
            padding: 1em 0;
            p {
                font-size: 15px;
                margin: 0;
                &:not(:first-child) strong {
                    padding-top: 2em;
                }
            }
        }
    }

/****************************
 Styles for ADD On Products
****************************/

    #sushi-bookable-item.product.product_cat-addon {
        img {
            display: block;
        }
        .sub-title-bookable-item {
            display: none;
        }
        .content-bookable-item {
            display: none;
        }
        .add_to_cart_button {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: 0;
            opacity: 0;
            line-height: 0;
            font-size: 0;
            background-color: green;
            transition: all ease 0.3s;
            &.active {
                opacity: 0.6;
                pointer-events: none;
                cursor: default;
            }
        }
        .price-bookable-item {
            border: 0;
            font-size: 16px;
            padding: .5em 0 1em;
        }
        .added_to_cart.wc-forward {
            display: none;
        }
        .sushi-party-size {
            display: none;
        }
        .product-var-bookable {
            display: none;
        }
    }
    .cart-ajax-wrapper {
        border: solid 2px #000;
        h2 {
            font-size: 24px;
            text-align: center;
            border-bottom: solid 2px #000;
            padding: 0.2em 0;
            margin: 0;
        }
        .inner-cart {
            padding: 1em 1em;
            .package-price {
                float: right;
            }
            .product-booking {
                display: none;
            }
            h3:not(:first-child) {
                padding-top: 2em;
            }
        }
        .sushi-party-size {
            border-top: solid 2px #000;
            border-bottom: solid 2px #000;
            padding: 0.5em 1em;
            margin: 0;
        }
        .cart-subtotal {
            padding: 0.5em 0.75em;
            margin: 0;
        }
    }
/****************************
    Section specific styles
****************************/
    .section-addons {
        display: flex;
        .woocommerce .woocommerce {
            display: none;
        }
        .col-flex {
            display: flex;
            .cart-ajax-wrapper {
                display: flex;
                flex-direction: column;
                .inner-cart {
                    flex-grow: 1;
                }
            }
        }
        .cart-ajax-wrapper .sushi-party-size {
            input {
                pointer-events: none;
                cursor: default;
            }
        }
        .change-party-number {
            color: #fff;
            background: #000;
            padding: 0 0.5em;
            margin-left: 0.5em;
            cursor: pointer;
        }
    }
    .section-package-details {
        .col.col-lg-9 {
            display: flex;
            flex-direction: column;
            .summary {
                .product_title, .price, .woocommerce-product-details__short-description {
                    display: none;
                }
            }
        }
        display: flex;
    }
    .section-payment {
        .woocommerce-message {
            display: none;
        }
    }
}
